[submodule "submodules/vim-sensible"]
	path = submodules/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "submodules/vim-commentary"]
	path = submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "submodules/vim-sleuth"]
	path = submodules/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "submodules/vim-vinegar"]
	path = submodules/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "submodules/vim-repeat"]
	path = submodules/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "submodules/fzf.vim"]
	path = submodules/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf
