[submodule "submodules/vim-vinegar"]
	path = submodules/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
