themes {
	black-metal {
		bg "#000000"
		fg "#c1c1c1"
		black "#000000"
		red "#5f8787"
		green "#dd9999"
		yellow "#a06666"
		blue "#9ccfd8"
		magenta "#999999"
		orange "#5f8787"
		cyan "#aaaaaa"
		white "#c1c1c1"
	}
	black-metal-venom {
		bg "#000000"
		fg "#c1c1c1"
		black   "#000000"
		red     "#5f8787"
		green   "#f8f7f2"
		yellow  "#79241f"
		blue    "#888888"
		magenta "#999999"
		orange     "#5f8787"
		cyan    "#aaaaaa"
		white   "#c1c1c1"
	}
	black-metal-nile {
		bg "#000000"
		fg "#c1c1c1"
		black   "#000000"
		red     "#5f8787"
		green   "#aa9988"
		yellow  "#777755"
		blue    "#888888"
		magenta "#999999"
		orange     "#5f8787"
		cyan    "#aaaaaa"
		white   "#c1c1c1"
	}
	black-metal-mayhem {
		bg "#000000"
		fg "#c1c1c1"
		black   "#000000"
		red     "#5f8787"
		green   "#f3ecd4"
		yellow  "#eecc6c"
		blue    "#888888"
		magenta "#999999"
		orange     "#5f8787"
		cyan    "#aaaaaa"
		white   "#c1c1c1"
	}
	black-metal-marduk {
		bg "#000000"
		fg "#c1c1c1"
		black   "#000000"
		red     "#5f8787"
		green   "#a5aaa7"
		yellow  "#626b67"
		blue    "#888888"
		magenta "#999999"
		orange     "#5f8787"
		cyan    "#aaaaaa"
		white   "#c1c1c1"
	}
	black-metal-khold {
		bg "#000000"
		fg "#c1c1c1"
		black   "#000000"
		red     "#5f8787"
		green   "#eceee3"
		yellow  "#974b46"
		blue    "#888888"
		magenta "#999999"
		orange     "#5f8787"
		cyan    "#aaaaaa"
		white   "#c1c1c1"
	}
	black-metal-immortal {
		bg "#000000"
		fg "#c1c1c1"
		black   "#000000"
		red     "#5f8787"
		green   "#7799bb"
		yellow  "#556677"
		blue    "#888888"
		magenta "#999999"
		orange     "#5f8787"
		cyan    "#aaaaaa"
		white   "#c1c1c1"
	}
	black-metal-gorgoroth {
		bg "#000000"
		fg "#c1c1c1"
		black   "#000000"
		red     "#5f8787"
		green   "#9b8d7f"
		yellow  "#8c7f70"
		blue    "#888888"
		magenta "#999999"
		orange     "#5f8787"
		cyan    "#aaaaaa"
		white   "#c1c1c1"
	}
	black-metal-dark-funeral {
		bg "#000000"
		fg "#c1c1c1"
		black   "#000000"
		red     "#5f8787"
		green   "#d0dfee"
		yellow  "#5f81a5"
		blue    "#888888"
		magenta "#999999"
		orange     "#5f8787"
		cyan    "#aaaaaa"
		white   "#c1c1c1"
	}
	black-metal-burzum {
		bg "#000000"
		fg "#c1c1c1"
		black   "#000000"
		red     "#5f8787"
		green   "#ddeecc"
		yellow  "#99bbaa"
		blue    "#888888"
		magenta "#999999"
		orange     "#5f8787"
		cyan    "#aaaaaa"
		white   "#c1c1c1"
	}
	black-metal-bathory {
		bg "#000000"
		fg "#c1c1c1"
		black   "#000000"
		red     "#5f8787"
		green   "#fbcb97"
		yellow  "#e78a53"
		blue    "#888888"
		magenta "#999999"
		orange     "#5f8787"
		cyan    "#aaaaaa"
		white   "#c1c1c1"
	}
}
