themes {
	nvim-dark {
		bg "#14161b"
		fg "#e0e2e9"
		black "#14161b"
		blue "#a6dbff"
		cyan "#8cf8f7"
		green "#b3f6c0"
		magenta "#ffcaff"
		red "#ffc0b9"
		white "#e0e2e9"
		yellow "#fce094"
		orange "#fce094"
	}
	nvim-light {
		bg "#e0e2e9"
		fg "#14161b"
		black "#000000"
		blue "#004c73"
		cyan "#007373"
		green "#005523"
		magenta "#470045"
		red "#590008"
		white "#ffffff"
		yellow "#6b5300"
		orange "#6b5300"
	}
}
